body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: roboto, sans-serif;
}
header {
    color: #ffe066;
    text-align: center;
    font-weight: bold;
}
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}
nav {
    background-color:#247ba0;
    border: solid #50514f 3px;
}

span {
    text-decoration:line-through;
}

section {

    background-color: #247ba0;
    width: 1000px;
    font-size: 20px;
    margin-left: 15%