body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: roboto, sans-serif;
}
header {
    color: #ffe066;
    text-align: center;
    font-weight: bold;
}
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}
nav {
    background-color:#247ba0;
    border: solid #50514f 3px;
}

span {
    text-decoration:line-through;
    margin-right: 15px;
}

strong {
    color: #f25f5c;
}

section {
    width: 800px;
    height: 250px;
    font-size: 20px;
    margin-left: 20%;
    margin-bottom: 5%;
}

img {
    float: right;
    position: absolute;
    right: 20%;
    border-radius: 20%;
    margin-top: 5%;
}

p {
    text-align: left;
    width: 500px;
}

h1 {
    font-weight: 1000;
}

h2 {
    text-align: center;
    color: #70c1b3;
}

h3 {
    color: #f25f5c;
}

aside {
    float:right;
    background-color: #50514f;
    height:fit-content;
    width: 15%;
    padding: 10px 20px;
    border: solid #fff 2px;
}
