html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    margin: 20px 20px;
  }

  h1 {
    text-align: center;
  }

  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: space-around;
    padding: 0;
    font-size: 20px;
  }

  li {
    font-size: 20px;
  }

  aside h2{
    font-size: 20px;
  }

  h2 {
    text-align: center;
    font-size: 25px;
  }

  p {
    font-size: 20px;
    text-align: justify;
  }

  h3 {
    font-size: 15px;
  }

  footer p {
    font-size: 15px;
  }

  @media screen and (min-width: 650px){
    #container-aside {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (min-width: 1000px){
    #container-aside {
      display: flex;
      justify-content: center;
    }

    p, li{
      font-size: 25px;
    }
  }